.container {
    max-width      : 800px;
    margin         : 2em 1em;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-start;
    flex           : 1;
    color          : white;
    border-radius  : 10px;
}

.hero-wrap {
    display       : flex;
    flex-direction: column;
    margin        : 2em;
    gap           : .4em;
    text-align    : center;
}

.hero-wrap h1 {
    margin                 : 0;
    font-size              : 54px;
    line-height            : .9;
    font-weight            : 200;
    text-transform         : uppercase;
    background             : linear-gradient(135deg, #DBF227, #a4f227);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-wrap p {
    margin: 0;
    color : #d6d6d6e6;
}

#entrada-de-conteudo {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    max-width      : 280px;
}

#entrada-de-texto {
    resize          : none;
    width           : 100%;
    height          : 100px;
    padding         : 10px;
    font-size       : 16px;
    margin-bottom   : 10px;
    background-color: transparent;
    border          : 1px solid whitesmoke;
    color           : whitesmoke;
    border-radius   : 6px;
}

#entrada-de-texto:focus {
    outline: none !important;
    border : 1px solid #DBF227;
}

.upload-wrap {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin-top     : 1em;
}

#arquivo-label {
    display      : inline-block;
    margin-bottom: 5px;
    font-weight  : 600;
}

#upload-arquivo {
    border       : 1px solid #DBF227;
    padding      : 1em;
    cursor       : pointer;
    border-radius: 6px;
}

#upload-arquivo:hover {
    border: 1px solid #a4f227;
}

#selecao-voz {
    padding      : 15px 20px;
    border-radius: 6px;
    font-weight  : bold;
    cursor       : pointer;
    border       : none;
    color        : black;
    background   : linear-gradient(180deg, #dbf227 0%, #a4f227 100%);
}

#selecao-voz p {
    margin    : 0;
    font-size : 16px;
    text-align: center;
}

.acoes {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 1em;
    margin         : 1em;
}

.acao-box {
    display       : flex;
    flex-direction: column;
    text-align    : center;
    width         : 100%;
}

.acao-box p {
    margin-bottom: .4em;
    font-weight  : 600;
}

button {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    padding        : 15px 20px;
    font-size      : 16px;
    font-weight    : thin;
    cursor         : pointer;
    width          : 100%;
    border-radius  : 6px;
    color          : black;
    font-weight    : bold;
    gap            : .2em;
    border         : none;
    background     : linear-gradient(180deg, #dbf227 0%, #a4f227 100%);
}

button:hover {
    background: #a4f227;
}

button.disabled {
    background-color: #cccccc;
    color           : #666666;
    cursor          : not-allowed;
}

@media (max-width: 600px) {}